# Python beginner

In [ ]:
this is while concept

In [1]:
var =10
while var >0:
    var =var-1
    if var==3:
        continue
    print(var)
    
print("this is while loop")

9
8
7
6
5
4
2
1
0
this is while loop

In [2]:
list=[10,20,40,5.7]
list[2]=3.7
list

[10, 20, 3.7, 5.7]

In [3]:
#lisrt
list.insert(2,'hello')
list

[10, 20, 'hello', 3.7, 5.7]

In [4]:
# sorting
animals =['monkey', 'dog','cat']
animals.sort()
animals

['cat', 'dog', 'monkey']

In [5]:
#append
animals.append('donkey')
animals

['cat', 'dog', 'monkey', 'donkey']

In [6]:
# reverse
animals.reverse()
animals

['donkey', 'monkey', 'dog', 'cat']

In [12]:
#replace
fruits=['bannana','apple','keiv']
print(fruits)
#replace
fruits[1]='graphs'
print(fruits)

fruits.insert(1,'orange')
print(fruits)
#sort
fruits.sort()
print(fruits)
#del
del fruits[1]
print(fruits)
#append
fruits.append('papaya')
print(fruits)

['bannana', 'apple', 'keiv']
['bannana', 'graphs', 'keiv']
['bannana', 'orange', 'graphs', 'keiv']
['bannana', 'graphs', 'keiv', 'orange']
['bannana', 'keiv', 'orange']
['bannana', 'keiv', 'orange', 'papaya']

# tuples
# in tuples we can't insert we can't delete

In [13]:
# tuples ar esimilar to list 
#list is mutuable is changed
#tuples is immutable is not change 
animal =('dog','cat','donkey')
animal

('dog', 'cat', 'donkey')

In [14]:
#in tuple we can use index values
animal[0]

'dog'

# sequencs
#list tuples are called tuples

In [57]:
#here we are calculating the length
name='balaji'
list=[10,20,30,40,5,6]
tuple1=(10,2,3,4.5,7,5)
len(name)

6

In [58]:
len(list)

6

In [59]:
#here we are printing except 1
list[1:]

[20, 30, 40, 5, 6]

In [60]:
#here we printing 2 elements
list[:2]

[10, 20]

In [61]:
#here we can count of name how many is repeat in the name
name.count('a')

2

In [62]:
#membership operation
'l' in name

True

In [63]:
#concentation
s=' hai'
name+s

'balaji hai'

In [64]:
list1=['hello',2]
list+list1

[10, 20, 30, 40, 5, 6, 'hello', 2]

In [65]:
min(name)

'a'

In [66]:
max(name)

'l'

# list assignment

In [68]:
list=[10,5,4,3,2,1,45]
list2=list
list2

[10, 5, 4, 3, 2, 1, 45]

In [71]:
list[0]='apple'
list

['apple', 5, 4, 3, 2, 1, 45]

In [72]:
# range function
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

# function
function call :
#def is followed by function name and followed by parameters
and function definition
these concept will reducud the time and space

In [84]:
def avg(n1,n2,n3):
    return (n1*n2*n3)/3
 
print("welcome")

result1 = avg(10,20,30)
result2 = avg(1,2,3)

print("the result of n1+n2+n3:",result1)
print(result2)

welcome
the result of n1+n2+n3: 2000.0
2.0

In [82]:
def square( num ):  
    """ 
    This function computes the square of the number. 
    """  
    return num**2   
object_ = square(9)  
print( "The square of the number is: ", object_ )

The square of the number is:  81

In [86]:
#local variable 
def func():
    n=5
    print("n value is:",n)
def func2():
    n=10
    print("n value is:",n)
    func()
    
func2()

n value is: 10
n value is: 5

In [89]:
#global variable
n=10
def func():
    print(n)
def func2():
    n=20
    print(n)
    func()
 #mainfunction  assumption

func2()

20
10

In [93]:
var=10
def func():
    global var
    var=var+1
    print(var)
    return 

func()

11

In [94]:
for x in  range (0,11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [97]:
#variable length in some we don't know to pass variable
def func(*list1):
    for num in list1:
        print(num)
    return

func(190,20,20)
func(1,2,4)

190
20
20
1
2
4

In [98]:
abs(5)

5

In [99]:
#abstrate value
abs(-6)

6

In [101]:
#ceil function will next higher integer 
import math
math.ceil(2.8)

3

In [102]:
# floor value means gives next lower vakue
math.floor(4.6)

4

In [103]:
#trunc will gives only integers part
math.trunc(3.1)

3

In [107]:
import math
math.e
math.exp(2)

7.38905609893065

In [108]:
math.sqrt(25)

5.0

In [109]:
max(10,2.3,4.1)

10

In [112]:
str="google.com"
str.endswith("com")

True

In [114]:
str.endswith('m')

True

In [116]:
str="this is Baljai Naik"
str.capitalize()

'This is baljai naik'

In [118]:
#finding the number from string
str="vitap college"
str.find("t")

2

In [119]:
str.split()

['vitap', 'college']

In [120]:
len(str)

13

In [121]:
#in function we can remove the words
str="this is Blaji Naik w"
str.strip("w")

'this is Blaji Naik '

In [1]:
#math is a module which stores the maths modulea like if we write factorial problem function module
import math
math.factorial(4)

24

In [ ]:
help(math) #all function under amth module

In [ ]:
import sys
sys.path

#we have define th system

In [ ]:
# save the file name.py
import module1():
    name=input("please enter your name:")
    print("hello",name)
    return

In [ ]:
import module1

In [ ]:
#place filenameand function name.module()

In [1]:
#in list is order and in dict it is unordered
list=[2,33,4,'hello']
list[3]

'hello'

In [4]:
dict1={1:'one',2:'two',3:'three'}
dict1[2]

'two'

In [8]:
#temp display program using list
daily_temps=[68,71,56,67,78,45,78]
day=input("enter 'sun','mon','tue','wed','thursday','fri' or 'sat':")
if day =='sun':
    dayname='sunday'
    temp =daily_temps[0]
if day =='mon':
    dayname='monday'
    temp =daily_temps[1]
    
elif day =='tue':
    dayname='tuesday'
    temp =daily_temps[2]

elif day =='wed':
    dayname='wesdayday'
    temp =daily_temps[3]
elif day =='thur':
    dayname='thursday'
    temp =daily_temps[4]
elif day =='fri':
    dayname='friday'
    temp =daily_temps[5]
elif day =='sat':
    dayname='satursday'
    temp =daily_temps[6]
else:
    print('wrong statemetn')
print("the temperature for:",dayname,"was",temp,"degrees")

enter 'sun','mon','tue','wed','thursday','fri' or 'sat':mon
the temperature for: monday was 71 degrees

In [ ]:
#dict different ways of cresting 
# to identifies the dict first we have create the {key:value,key:value} this is syntax of the dict key should be mutable

In [7]:
my_dict={1:'apple',2:'ball',3:'cat'}
print("thiis my my dict :",my_dict[1])

thiis my my dict : apple

In [5]:
my_dict={}
my_dict[1]='apple'
my_dict[2]='bat'
my_dict

{1: 'apple', 2: 'bat'}

In [12]:
d=dict([(1,'apple'),(2,'apple'),(3,"cat")])
d
d.keys()#to print the keys 

d.values#to printthe key values

dict_values(['apple', 'apple', 'cat'])

In [9]:
a=[1,2,3,4]
b=['apple','banana','ant','eagle']
my_dict={}
for i in range(len(a)):
    my_dict[a[i]]=b[i]
    
my_dict

{1: 'apple', 2: 'banana', 3: 'ant', 4: 'eagle'}

In [14]:
my_dict.get(1)# get means which has storage in th element of the dict

'apple'

In [18]:
#insertin the dict 
my_dict={1: 'apple',2: 'banana',3: 'ball'}
my_dict

{1: 'apple', 2: 'banana', 3: 'ball'}

In [21]:
my_dict[4]='bat'
my_dict

{1: 'apple', 2: 'bat', 3: 'ball', 4: 'bat'}

In [24]:
#fromkeys (iterable,value)#syntax  iterable are list tuples ans range () dict these are iterable values ar 
#exampele
list2=[1,2,3,4]
dict.fromkeys(list2)

{1: None, 2: None, 3: None, 4: None}

In [25]:
list2=[1,2,3,4]
dict.fromkeys(list2,"bala")

{1: 'bala', 2: 'bala', 3: 'bala', 4: 'bala'}

In [26]:
{}.fromkeys(range(1,7),10)

{1: 10, 2: 10, 3: 10, 4: 10, 5: 10, 6: 10}

In [29]:
#setdeafult(key,value)#setdeafult syntax these will just for key andvalue is optional
students={'john':20,'yasd':21}
students.setdefault('john')
#here we are searching the key

20

In [30]:
students.setdefault("bala")

In [31]:
students

{'john': 20, 'yasd': 21, 'bala': None}

In [ ]:
#now bala is added the dict because of setdefault here we can the name using setdefault and if it will not there then it can add in the element

In [32]:
#concetation 
#if their is a two list or two dict then we can concentation
list1=[1,2,3,4]
list2=['a','b','c','d']
list1+list2

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [35]:
dict={1:'orange',2:'abanab',3:'ball'}
dict2={'o':'orange'}
dict.update(dict2)
dict
#it will just add the element

{1: 'orange', 2: 'abanab', 3: 'ball', 'o': 'orange'}

In [36]:

my_dict={1: 'a',2: 'b',3: 'd'}
del my_dict[2]

In [37]:
my_dict

{1: 'a', 3: 'd'}

In [38]:
#it is delete from the dict
my_dict.pop(1)

'a'

In [39]:
my_dict

{3: 'd'}

In [40]:
#pop anddelete  use the same thing and in  pop it will return the deleted one 
my_dict.clear()

In [41]:
my_dict

{}

In [42]:
#looping with the index
color=['red','blue','yellow']
for i in color:
    print(i)

red
blue
yellow

In [43]:
#allocating the index to the list
for i in range(len(color)):
    print(i,color[i])

0 red
1 blue
2 yellow

In [47]:
#enumerate
color=['red','blue','yellow']
for i,j in enumerate(color,1):
    print(i,j)

1 red
2 blue
3 yellow

In [48]:
#set data type 
fruits ={'apple'}
fruits

{'apple'}

In [50]:
fruits.add('grapes')
fruits

{'apple', 'grapes'}

In [52]:
animal=frozenset(['tiger','lion'])
animal
#this is immutable set we can't add in this list

frozenset({'lion', 'tiger'})

In [54]:
#set will contain not duplicated values
#for exaample
num={1,2,3,41,2,44,3,12,2,2,2}
num

{1, 2, 3, 12, 41, 44}

In [55]:
emptyset={}
type(emptyset)

dict

In [56]:
a={1,2,3,4}
b={1,5,7,3}
a&b

{1, 3}

In [57]:
a-b

{2, 4}

In [58]:
b-a

{5, 7}

In [59]:
a^b #it will give vaules which non common in ths set

{2, 4, 5, 7}

In [60]:
len(a)

4

In [64]:
#copy set 
C =a.copy()
C

{1, 2, 3, 4}